/*typographic system*/
			*{
				-webkit-font-smoothing:antialiased;
				margin: 0;
				padding: 0;
			}

			@font-face{
			    font-family: Open Sans;
			    src:url('font/OpenSans-Bold.ttf');
			    font-style: normal;
			    font-weight: bold;
			}

			@font-face{
			    font-family: Open Sans;
			    src:url('font/OpenSans-Regular.ttf');
			    font-style: normal;
			    font-weight: normal;
			}

			body{
				font-size: 93.75%;
				font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
			}

			/*font-size / line-height / margin-bottom*/

			p,h1,h2,h3,h4{
				text-align: center;
			}

			p, h4{ /*15/24/12*/
				font-size: 1em;
				line-height: 1.6em;
				margin-bottom:0.8em;
				color: #666666;
			}

			h4{
				font-weight: bold;
			}

			.medium{
				font-size:1.414em;
			}

			h3, .h3{ /*23/36/24*/
				font-size: 1.5333333333em;
				line-height: 1.5652173913em;
				margin-bottom: 1.0434782609em;
			}

			h2, .h2{ /*29/48/24*/
				font-size: 1.9333333333em;
				line-height: 1.6551724138em;
				margin-bottom: 0.8275862069em;
			}

			h1, .h1{ /*37/60/0*/
				font-size: 2.4666666667em;
				line-height: 1.6216216216em;
				margin-bottom: 0;
			}

			.bold{
				font-weight: bold;
			}

			.centered{
				margin-left: auto;
				margin-right: auto;
				min-height: 100px;
				min-width: 100px;
			}

/*general styling*/
			

			div{
				box-sizing: border-box;
			}

			img{
				width: 100%;
				height: 100%;
				position: absolute;
			}

			a{
				text-decoration: none;
				color:#FFFFFF;
				padding-bottom: 2px;
			}

			a:hover{
				border-bottom: 1px solid #FFFFFF;
			}

			span{
				display: inline-block;
				vertical-align: middle;
				line-height: normal;  
			}

			.blue_bg{
				color:#FFFFFF;
				background: #2185e6;
			}

			.blue_bg h1, h2 h3, h4, p{
				color: #FFFFFF;
			}

			.white_bg{
				color:#444444;
			//	border: 1px solid #2185e6;
				background: #fbfbfb;
			}

			.white_bg a{
				color:#2185e6;
			}

			.white_bg a:hover{
				border-bottom: 1px solid #2185e6;
			}

			.text{
				padding: 30px;
			}

			.video{
				overflow: hidden;
			}

			.video iframe{
				height: 100%;
			}

			.optional_text{
				display:block;
			}

			.gap{
				height: 60px;
				width: 100%;
			}

			.impulse p.medium{
				padding-top: 8%;
			}

			.porcelain_title{
				width: 100%;
				height:576px;
				background: url(img/porcelain_title.png) no-repeat center;
			}

			.porcelain_title img{
				height: 100%;
			}

			#menu{
				height: 60px;
				position: absolute;
				top: 50px;
				right: 10%;
			}

			#footer{
				width: 100%;
				height: 110px;
			}

			#content{
				margin-right: auto;
				margin-left: auto;
				padding-left: 0;
				padding-right: 0;
				padding-top: 50px;
				overflow: hidden;
			}



		/*	#footer, #about, #impulse{
				position: relative;
				margin-top: 30px;
			} */

/*media queries*/
			

			@media (max-width: 787px){


				.optional_text{
					display:block;
				}

				.square, .wide, .tall, .largesquare, .full, .threecol{
					margin: 5% 5% 0 5%;
					width: 90%;
					// background: #3abced;
				}

				#footer	{
					width: 100%;
				}

				.optional_photo{
					display: none;
				}

				.porcelain_title{
					background: url(img/porcelain_white.png) no-repeat center;
					padding: 20px;
					background-size: 70%;
				}

			} 
	
			@media(max-width:525px){
				.h2, .medium{
					font-size: .8em;
					line-height: 1.6em;
					margin-bottom:0.8em;
					font-weight: bold;
				}

				#footer{
					height: 90px;
					width: 100%;
				}

				.optional_text{
					display: none;
				}
			}

			@media (min-width: 768px) and (max-width: 1091px){

				.optional_text{
					display:none;
				}

				#content{
					width: 760px;
					margin: 10px auto 0 auto;
					padding:0;
					overflow: hidden;
				}

				.square, .wide, .tall, .largesquare, .full, .threecol{
					margin:0 10px 10px 0;
					float: left;
					// background: #ee2d45;
				}

				.square{
					width: 180px;
					height: 180px;
				}

				.wide{
					width: 370px;
					height: 180px;
				}

				.tall{
					width: 180px;
					height: 370px;
				}

				.largesquare{
					width: 370px;
					height: 370px;
				}

				.full{
					width: 750px;
					height: 370px;
				}

				.threecol{
					width: 560px;
					height: 370px;
				}

				.magic_img{
					display: none;
				}

				.desc{
					width: 370px;
					height: 370px;
				}

				.medium{
					font-size: 0.8em;
					line-height: 1.6em;
					margin-bottom:0.8em;
				}

		/*		.h2{
					font-size: 1em;
					line-height: 1.6em;
					margin-bottom:0.8em;
					font-weight: bold;
				}
		
				#footer{
					width: 750px;
				}
		*/
			} 

			@media (min-width: 1092px) and (max-width: 1299px){

				.optional_text:last-child{
					display:none;
				}

				#content{
					width: 984px;
					margin: 14px auto 0 auto;
					padding:0;
					overflow: hidden;
				}

				.square, .wide, .tall, .largesquare, .full, .threecol, #footer{
					margin:0 14px 14px 0;
					float: left;
					// background: #AAAAAA;
				}

				.square{
					width: 232px;
					height: 232px;
				}

				.wide{
					width: 478px;
					height: 232px;
				}

				.tall{
					width: 232px;
					height: 478px;
				}

				.largesquare{
					width: 478px;
					height: 478px;
				}

				.full{
					width: 970px;
					height: 478px;
				}

				.threecol{
					width: 724px;
					height: 478px;
				}

				.magic_img{
					display: none;
				}

				.desc{
					width: 478px;
					height: 478px;
				}

				.medium{
					font-size: 1em;
					line-height: 1.6em;
					margin-bottom:0.8em;
				}

			/*	#footer{
					width: 970px;
				}
			*/
			}

			@media (min-width: 1300px){

				#content{
					width: 1188px;
					margin: 18px auto 0 auto;
					padding:0;
				}

				.square, .wide, .tall, .largesquare, .full, .threecol, #footer{
					margin:0 18px 18px 0;
					float: left;
				//    background: #444444;
				}

				.square{
					width: 279px;
					height: 279px;
				}

				.wide{
					width: 576px;
					height: 279px;
				}

				.tall{
					width: 279px;
					height: 576px;
				}

				.largesquare{
					width: 576px;
					height: 576px;
				}

				.full{
					width: 1170px;
					height: 576px;
				}

				.threecol{
					width: 873px;
					height: 576px;
				}

				.desc{	
					width: 576px;
					height: 576px;
				}
			
				#footer{
					margin: 0;
				}

			
			}